NEXT_PUBLIC_FB_API_KEY=your_api_key
NEXT_PUBLIC_FB_AUTH_DOMAIN=your_auth_domain
NEXT_PUBLIC_FB_PROJECT_ID=your_project_id
NEXT_PUBLIC_FB_STORAGE_BUCKET=your_storage_bucket
NEXT_PUBLIC_FB_MSG_ID=your_msg_id
NEXT_PUBLIC_FB_APP_ID=your_app_id