.main-bg {
  min-height: 100vh;
  width: 100%;
  background-image: url("/bg-chess-modern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}
 
* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
}
